@{
    ViewData["Title"] = "Home Page";
}
@model ActivityT
<div class="">
    <h2>Dojo Activity Center <h5> <a asp-action="Logout" asp-controller="Home">Logout</a> <a asp-action="Dashboard" asp-controller="Activity">Home</a></h5> </h2> 
    <h3>@Model.Title</h3>
    <p>Event Coordinator: @Model.Coordinator.FirstName</p>
    <p>Description: @Model.Description</p>
    <p>Participants: </p>
    <ul>
        @{
            foreach (var attend in Model.Attends)
                {
                    <li>@attend.user.FirstName @attend.user.LastName</li>
                }
        }
    </ul>
    @if (Model.Coordinator.UserId == ViewBag.user.UserId)
                    {
                        <a asp-action="Delete" asp-controller="Activity" asp-route-ActivityId="@Model.ActivityId"><button
                        class="btn btn-sm btn-danger">Delete</button></a>
                    }
                    else if (@Model.Attends.Any(f => f.UserId == ViewBag.User.UserId))
                    {
                        <a asp-action="Leave" asp-controller="Activity" asp-route-ActivityId="@Model.ActivityId"><button
                            class="btn btn-sm btn-warning">Leave</button></a>
                    }
                    else
                    {
                        <a asp-action="Join" asp-controller="Activity" asp-route-ActivityId="@Model.ActivityId"><button
                            class="btn btn-sm btn-primary">Join</button></a>
                    }
</div>